<div class="mainbar">
  <img src="assets\jobseek.jpg" width="9%;">
  <h1 >JoBSeeKerS</h1>
   <div class="btns">
    <div class="btnstyle">
        <p-button label="login" (click)="login()" class="btnprop"></p-button>
        <p-button label="signup"(click)="signup()" class="btnprop"></p-button>
    </div>
   </div>
</div>
<div class="maindiv">
    <div class="imagediv">
        <img src="assets\homepageimage.jpg" alt="" width="600px;" height="380px;">
    </div>   
    <div class="carddiv">
        <p-card header="JOBSEEKERS" >
            <li> 
              A job seeker is an unemployed individual who is actively searching for a job opportunity. In recruitment language,
              the term.
             </li><br>
              <li>
              The job seeker is often utilized in the hiring process. There are multiple types of job seekers by nature Non-active job seekers those job seekers who are not thinking anything about employment and not looking for any job
              Monitors: these are the job seekers who are directly not looking for any job opportunity but monitoring the
              recruiters activities on regular basis to keep information about current opportunities in the market
              Active or seekers their job seekers are the most popular ones as they seek a job and actively search for one.
            </li><br>
            <li>Job seekers may also engage in self-improvement activities, such as enhancing their skills through training or pursuing additional education to increase their chances of securing desirable job opportunities.</li>
            <!-- <li>Job seekers may also engage in self-improvement activities, such as enhancing their skills through training or pursuing additional education to increase their chances of securing desirable job opportunities.</li> -->

          </p-card>
    </div>
</div>