<div class="tablediv" >
    <table class="user-table">
        <tr *ngFor="let a of rowdata">
            <th>FirstName:</th>
            <td>{{a.firstName}}</td>
        </tr>
        <tr *ngFor="let a of rowdata">
            <th>LastName:</th>
            <td>{{a.lastName}}</td>
        </tr>
        <tr *ngFor="let a of rowdata">
            <th>Location:</th>
            <td>{{a.location}}</td>
        </tr>
        <tr *ngFor="let a of rowdata">
            <th>Gender:</th>
            <td>{{a.gender}}</td>
        </tr>
        <tr *ngFor="let a of rowdata">
            <th>Phone Number:</th>
            <td>{{a.phoneNo}}</td>
        </tr>
    </table>
</div>
