<div class="maincontainer">
    <div class="tag">
        <h1>JOBS LIST</h1>
    </div>
    <div class="searchbar">
        <span class="p-input-icon-left">
            <i class="fa fa-search"></i>
            <input type="text" pInputText [(ngModel)]="searchText" name="search" placeholder="search"/>
        </span>
    </div>
</div>
<table class="styled-table">
    <tr>
        <th>Job Id</th>
        <th>Comp Id</th>
        <th>Comp Name</th>
        <th>Title</th>
        <th>JobType</th>
        <th>Location</th>
        <th>Salary</th>
        <th>DatePosted</th>
        <th>Skills</th>
        <th>Apply JOB</th>
    </tr>
    <tr *ngFor="let a of rowdata | search:searchText | paginate:{itemsPerPage:5,currentPage:p}">
        <td>{{a.id}}</td>
        <td>{{a.companyId}}</td>
        <td>{{a.companyName}}</td>
        <td>{{a.title}}</td>
        <td>{{a.jobType}}</td>
        <td>{{a.location}}</td>
        <td>{{a.salary}}</td>
        <td>{{a.datePosted}}</td>
        <td>{{a.jobSkills}}</td>
        <td><button (click)="submit(a.id)" class=" btn btn-primary">Apply</button></td>
    </tr>
</table>
<div class="paginationdiv">
    <pagination-controls (pageChange)="p=$event" ></pagination-controls>
</div>
