<div class="logo">
    <img src="../../assets/jobseek.jpg" alt="company logo" height="30%"width="30%" >
    <div class="companyname">
        <p>JoBSeeKerS</p>
    </div>
</div>
<hr class="line">
<div class="nav-items">
    <div class="nav-item">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <span><a routerLink="/admin/home" routerLinkActive="true" >Home</a></span>
    </div>
    <div class="nav-item">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
        <span><a routerLink="/admin/profileupdate" routerLinkActive="true" >Profile Update</a></span>
    </div>
    <div class="nav-item">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span><a routerLink="/admin/addjob" routerLinkActive="true">Add Job</a></span>
    </div>
    <div class="nav-item">
        <i class="fa fa-file"></i>
        <span><a routerLink="/admin/applicants" routerLinkActive="true">Applicants</a></span>
    </div>
    <div class="nav-item">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span><a href="#">SignOut</a></span>
    </div>
</div>
