<div class="m">
<div class="forgetpassworddiv">
    <p-card class="justify-content-center">
      <div class="icon-container">
        <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
      </div>
        <h1>Reset password</h1>
        <form action="" [formGroup]="mylogin" (ngSubmit)="submit()" class="flex justify-content-center">
            <div class="field">
              <label for="email" class="d-block p-2">Email</label>
              <input type="email" pInputText placeholder="Enter your email" formControlName="email" >
            </div>
            <small class="p-error d-block" *ngIf="mylogin.get('email')?.invalid && mylogin.get('email')?.dirty && mylogin.get('email')?.hasError('required')">Please enter the email</small> 
            <small class="p-error d-block" *ngIf="mylogin.get('email')?.hasError('email')">Enter the correct email id format</small>
            <div class="field">
              <label for="password" class="d-block p-2">Create New Password</label>
              <input type="password" pInputText placeholder="Enter your password" formControlName="password">
            </div>
            <div *ngIf="mylogin.controls.password.invalid && (mylogin.controls.password.dirty || mylogin.controls.password.touched)">
                <div *ngIf="mylogin.controls.password.errors.required"><small class="p-error">Password is required.</small></div>
                <div *ngIf="mylogin.controls.password.errors.minlength"><small class="p-error">Password should be at least 8 characters long.</small></div>
                <div *ngIf="mylogin.controls.password.errors.maxlength"><small class="p-error">Password should be maximum 12 characters long.</small></div>
                <div *ngIf="mylogin.controls.password.errors.passwordRequirements"><small class="p-error">Password should contain at least one uppercase letter, one special character, and one number.</small></div>
            </div>
            <div class="field">
                <label for="password" class="d-block p-2">Conform Password</label>
                <input type="password" pInputText placeholder="Conform your password" formControlName="repassword">
            </div>
            <div *ngIf="mylogin.controls.repassword.invalid && (mylogin.controls.repassword.dirty || mylogin.controls.repassword.touched)">
                <div *ngIf="mylogin.controls.repassword.errors.required"><small class="p-error"> Conform Password is required.</small></div>
                <div *ngIf="mylogin.controls.repassword.errors.mustmatch"><small class="p-error">The conform password doesn't match </small></div>
            </div>
            <br>
            <div class="btnval d-block">
              <p-button label="submit" type="submit" styleClass="p-button-rounded" [disabled]="mylogin.invalid" width="150px" height="10px"></p-button>
            </div>
          </form>
    </p-card>
</div>
</div>